attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
coverage==6.3.1
filelock==3.4.2
flake8==4.0.1
huggingface-hub==0.4.0
idna==3.3
iniconfig==1.1.1
joblib==1.1.0
mccabe==0.6.1
numpy==1.22.2
packaging==21.3
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.7
pytest==7.0.1
pytest-cov==3.0.0
PyYAML==6.0
regex==2022.1.18
requests==2.27.1
sacremoses==0.0.47
six==1.16.0
tokenizers==0.11.4
tomli==2.0.1
torch==1.10.2
tqdm==4.62.3
transformers==4.16.2
typing-extensions==4.1.1
urllib3==1.26.8
